#otdMenuContainer{
    display: inline-block;
    width: 100%;
    overflow-y:auto;
    }
.otdLogoCell{
    text-align:center;    
}
.otdLogo{
    border:0px;
}
.otdBold{
    font-weight:bold;
}
.otdItalic{
    font-style: italic;
    font-size:0.9em;
    }
.otdCalendar{
    width:100%;
    text-align:center;
    margin-left:auto;
    margin-right:auto;
}
.otdLink{
    font-size: 16px;
    border:1px solid;
    padding:1px 4px;
    margin:2px;
}
.otdYear{
    width:35px;
    display: inline-block;
    }