#otdMenuContainer{
    display: inline-block;
    width: 100%;
    overflow-y:auto;
    }
.otdLogoCell{
    text-align:center;  
      
}
.otdLogo{
    border:0px;
}
.otdBold{
    font-weight:bold;
}
.otdItalic{
    font-style: italic;
    font-size:0.9em;
    }
.otdCalendar{
    width:100%;
    text-align:center;
    margin-left:auto;
    margin-right:auto;
}
.otdLink{
   
    border:0px solid;
   padding:5px 5px 1px 5px;
    margin:2px 4px;
}
.otdYear{
    width:35px;
    display: inline-block;
    }
.otdManage{
    width:100px;
    display: inline-block;
    }
.otdBrief{
      width:85%;
    display: inline-block;  
    
    }
.otdError{
        border:2px solid red !important;
}